@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to your workout tracker</h1>
	<h2>This month you have done 12 workouts</h2>
	<a asp-action="Workouts" class="btn btn-primary">Overview</a>
	<a asp-action="AddWorkout" class="btn btn-secondary">Add today's workout</a>
</div>
