html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.week--div {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
}

.heatmap {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 8px; /* Reduce the gap between cells */
    width: 450px; /* Adjust the width to fit small squares */
    padding: 20px;
    height: auto; /* Let the height adjust based on content */
    margin: 20px auto;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 4px;
}


.heatmap-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.heatmap-cell.workout-day {
        background-color: #4CAF50; /* Green color for workout days */
        color: white;
 }

.heatmap-cell:hover {
        background-color: #427E93; /* Change color on hover */
    }

.heatmap-cell:hover {
        opacity: 0.8;
    }

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

footer{
   margin-top:auto;
}