html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.week--div {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
}

.heatmap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 800px;
    margin: 20px auto;
}

.heatmap-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .heatmap-cell:hover {
        opacity: 0.8;
    }

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}